{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="de que va el proyecto">
    <meta name="robots" content="index,follow">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> 
        {% block title %}
            <!--Here title from each page -->
        {% endblock %}
    </title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}" />
</head>

<body>
    <header class="encabezado">
        <img src="{% static 'img/logo.jpg' %}"  alt="">
        <section class="seccionMain">
            <section class="seccion">
                <ul> 
                    <li><a href=" {% url 'blog' %}  ">Blog</a></li>
                    <li><a href=" {% url 'about' %} ">About</a></li>
                    <li><a href=" {% url 'projects' %} ">Proyectos</a></li>
                </ul>
            </section>
        </section>
    </header>
    <main>
        <section class="content">
            {% block content %}
                <!--contenido de cada pagina-->
            {% endblock%}
        </section>

    </main>
    <footer>
        <strong>copy  -  {% now "d/m/Y" %} </strong>
    </footer>
</body>

</html>